# Bot token from https://discord.com/developers/applications
DISCORD_TOKEN=xxx
# development | production | test
NODE_ENV=development
# fatal | error | warn | info | debug | trace | silent
LOG_LEVEL=debug
# Upload badges from src/assets/badges to the application's emoji set on boot
SYNC_EMOJIS=true
